/* -------- Nanum Square -------- */

@font-face {
 font-family: 'Nanum Square';
 font-style : normal;
 font-weight :300;
 src:local(※);
 src: url(../../fonts/NanumSquare/NanumSquareL.eot);
 src: url(../../fonts/NanumSquare/NanumSquareL.eot?#iefix) format('embedded-opentype'),
 url(../../fonts/NanumSquare/NanumSquareL.woff) format('woff'),
 url(../../fonts/NanumSquare/NanumSquareL.eot) format('eot'),
 url(../../fonts/NanumSquare/NanumSquareL.ttf) format('truetype');
}

@font-face {
 font-family: 'Nanum Square';
 font-style : normal;
 font-weight :400;
 src:local(※);
 src: url(../../fonts/NanumSquare/NanumSquareR.eot);
 src: url(../../fonts/NanumSquare/NanumSquareR.eot?#iefix) format('embedded-opentype'),
 url(../../fonts/NanumSquare/NanumSquareR.woff) format('woff'),
 url(../../fonts/NanumSquare/NanumSquareR.eot) format('eot'),
 url(../../fonts/NanumSquare/NanumSquareR.ttf) format('truetype');
}

@font-face {
 font-family: 'Nanum Square';
 font-style : normal;
 font-weight :700;
 src:local(※);
 src: url(../../fonts/NanumSquare/NanumSquareB.eot);
 src: url(../../fonts/NanumSquare/NanumSquareB.eot?#iefix) format('embedded-opentype'),
 url(../../fonts/NanumSquare/NanumSquareB.woff) format('woff'),
 url(../../fonts/NanumSquare/NanumSquareB.eot) format('eot'),
 url(../../fonts/NanumSquare/NanumSquareB.ttf) format('truetype');
}

@font-face {
 font-family: 'Nanum Square';
 font-style : normal;
 font-weight :800;
 src:local(※);
 src: url(../../fonts/NanumSquare/NanumSquareEB.eot);
 src: url(../../fonts/NanumSquare/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
 url(../../fonts/NanumSquare/NanumSquareEB.woff) format('woff'),
 url(../../fonts/NanumSquare/NanumSquareEB.eot) format('eot'),
 url(../../fonts/NanumSquare/NanumSquareEB.ttf) format('truetype');
}


/* -------- Noto Sans -------- */

/*
@font-face {
    font-family:'Noto Sans';
    font-style:normal;
    font-weight:200;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(../../fonts/NotoSans/NotoSansKR-Light-Hestia.eot),
    url(../../fonts/NotoSans/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../../fonts/NotoSans/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(../../fonts/NotoSans/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
    font-family:'Noto Sans';
    font-style: normal;
    font-weight:400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(../../fonts/NotoSans/NotoSansKR-Regular-Hestia.eot),
    url(../../fonts/NotoSans/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../../fonts/NotoSans/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(../../fonts/NotoSans/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
    font-family:'Noto Sans';
    font-style:normal;
    font-weight:600;
    src:local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(../../fonts/NotoSans/NotoSansKR-Bold-Hestia.eot),
    url(../../fonts/NotoSans/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../../fonts/NotoSans/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(../../fonts/NotoSans/NotoSansKR-Bold-Hestia.otf) format('opentype');
}

@font-face {
    font-family:'Noto Sans';
    font-style:normal;
    font-weight:900;
    src:local('Noto Sans Black'), local('NotoSans-Black'),
    url(../../fonts/NotoSans/NotoSansKR-Black-Hestia.eot),
    url(../../fonts/NotoSans/NotoSansKR-Black-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../../fonts/NotoSans/NotoSansKR-Black-Hestia.woff) format('woff'),
    url(../../fonts/NotoSans/NotoSansKR-Black-Hestia.otf) format('opentype');
}
*/


/* -------- LotteMartHappy -------- */
/*
@font-face{
 font-family:'LotteMartHappy';
 font-style:normal;
 font-weight:400;
 src:url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'),
     url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
}
*/
@font-face{
 font-family:'LotteMartHappy';
 font-style:normal;
 font-weight:700;
 src:url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff2') format('woff2'),
     url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff') format('woff');
}
/*
@font-face {
 font-family: 'LotteMartHappy';
 font-style : bold;
 font-weight :800;
 src:local(※);
 src: url(../../fonts/LotteMartHappy/LotteMartHappyBold.woff) format('woff'),
 url(../../fonts/LotteMartHappy/LotteMartHappyBold.ttf) format('truetype');
}
*/

/* -------- Axis -------- */

@font-face {
 font-family: "Axis";
 font-style : bold;
 font-weight :800;
 src:local(※);
 src: url(../../fonts/Axis/Axis.woff) format('woff'),
 url(../../fonts/Axis/Axis.ttf) format('truetype');
}

/* -------- 10x10 -------- */

@font-face {
 font-family: "10x10";
 font-style : bold;
 font-weight :800;
 src:local(※);
 src: url(../../fonts/10x10/10x10Bold.woff) format('woff'),
 url(../../fonts/10x10/10x10Bold.ttf) format('truetype');
}